@model IEnumerable<SpecialtySelector.Models.Specialties.SpecialtyInfo>

@{
    ViewBag.Title = "Детайли";
}

@if (Model.Count() != 0)
{
    foreach (var sp in Model)
    {
        <div class="jumbotron text-center lead text-success mt-20">
            <h1 style="word-wrap: break-word">@sp.Name</h1>
            @if (sp.Description.Length < 200)
            {
                <h3 style="word-wrap: break-word">@sp.Description</h3>
            }
            else
            {
                <h3 style="word-wrap: break-word">@sp.Description.Substring(0, 200)...</h3>
            }
            <p>
                <a class="btn btn-info" href="\">Назад</a>
                <a class="btn btn-info" href="/Specialty/Details/@sp.Id">Виж повече</a>
                <a class="btn btn-info" href="/Teacher/TeacherInfo/@sp.Id">Виж преподаватели</a>
                @{if (Request.IsAuthenticated)
                    {
                        <div class="row">
                            <div class="col-md-6 text-right">
                                @using (Html.BeginForm("Delete", "Specialty", new { Id = sp.Id }, FormMethod.Post))
                                {
                                    <input class="btn btn-danger" type="submit" value="Изтриване" />
                                }
                            </div>
                            <div class="col-md-6 text-left">
                                @using (Html.BeginForm("Update", "Specialty", new { Id = sp.Id }, FormMethod.Get))
                                {
                                    <input class="btn btn-success" type="submit" value="Редактирай" />
                                }
                            </div>
                        </div>
                    }
                }
            </p>
        </div>
                        }
                    }
                    else
                    {
                        <h1 class="text-center lead">Все още няма добавени специалности към съответното поднаправление ....</h1>
                    }
